<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PsoWindowSize.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup>
    <userSettings>
        <PsoWindowSize.Properties.Settings>
            <setting name="KeyboardFix" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoResize" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Online" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Offline" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NameFix" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MusicFix" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MapFix" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WordFilter" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Windowed" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ResizeMode" serializeAs="String">
                <value>PixelPerfect</value>
            </setting>
            <setting name="CustomRez" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PresetRezText" serializeAs="String">
                <value>1x (640 x 480)</value>
            </setting>
            <setting name="LockRatio" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CustomWidth" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="CustomHeight" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="LaunchCentered" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ServerName" serializeAs="String">
                <value>sylverant.net</value>
            </setting>
            <setting name="IpPatch" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EmbedFullScreen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KillPso" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckController" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BypassPatch" serializeAs="String">
                <value>False</value>
            </setting>
        </PsoWindowSize.Properties.Settings>
    </userSettings>
</configuration>
